<html lang="en" ng-app="secapps">
<head>
	  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
      <script type="text/javascript">   </script>
       <script src="secctrl.js"></script>
</head>
<body>

<div ng-controller="appct as ctr" layout- ng-cloak>

<div layout-gt-xs="row">

<div flex-gt-xs>
<h4> Standard Date-Picker</h4>
<md-datepicker ng-model="ctr.myDate" md-placeholder="Enter Date"></md-datepicker>
</div>

<div flex-gt-xs>
<h4>Disabled Date-Picker</h4>
<md-datepicker ng-model="ctr.myDate" md-placeholder="Enter date" disabled></md-datepicker>
</div>

</div>

<div layout-gt-xs="row ">
<div flex-gt-xs>
<h4> Opening the calendar when the input is focused</h4>
<md-datepicker ng-model="ctr.myDate" md-placeholder="Enter Date" md-open-on-focus>
  
</md-datepicker>
</div>

<div flex-gt-xs>
<h4>Date-picker that goes straight to the year view</h4>
<md-datepicker ng-model="ctr.myDate" md-placeholder="Enter Date" md-current-view="year"></md-datepicker>
</div>
</div>

  <div layout-gt-xs="row">
    <div flex-gt-xs>
      <h4>Custom calendar trigger</h4>
      <md-datepicker ng-model="ctr.myDate" md-placeholder="Enter date" md-is-open="ctr.isOpen"></md-datepicker>
      <md-button class="md-primary md-raised" ng-click="ctr.isOpen = true">Open</md-button>
    </div>
  </div>
</div>

</body>
</html>

<!-- <div >
<md-content class="md-padding" layout-xs="column" layout="row">
<div flex-xs flex-gt-xs="100" layout="column">

<md-card >

<md-card-title>

<md-card-title-text>
<span  class="md-headline" md-colors="{color:'green'}"> Application</span>
</md-card-title-text>

</md-card-title>
<br/>
<br/>
<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
<md-card-content>
<p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Feedback">
              <md-icon md-svg-icon="feedback.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Done">
              <md-icon md-svg-icon="done.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Fblack">
              <md-icon md-svg-icon="favblack.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>
        <md-button class="md-raised md-flat">First</md-button>
        <md-button class="md-raised md-flat">Second</md-button>
        </md-card-actions>
</md-card>
</div>
</div>
</md-content>
</div> 

</div>-->
</body>

</html>